    * {
        box-sizing: border-box;
        /* font family */
        font-family: 'Boogaloo', cursive;
    }
    
    body {
        margin: 0;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Estilos de la barra de navegación */
    
    html {
        scroll-behavior: smooth;
    }
    
    ul {
        font-size: 20px;
        list-style-type: none;
        margin: 0;
        padding: 0% 5% 0px 5%;
        overflow: hidden;
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        transition: 0.8s;
    }
    
    li {
        float: left;
        width: 16.66%;
    }
    
    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover {
        /* Tengo puesto :not para que no se ejecute, si quiero que funcione quitar el :not (pero queda feo) */
        color: black;
        background-color: whitesmoke;
    }
    /* Style the header */
    
    .header {
        background-size: cover;
        background-attachment: fixed;
        padding: 10% 20px;
        text-align: center;
        background-image: url('../img/hood-coast-relay-oregon-usa.jpg');
        background-position: center;
    }
    
    .header h1 {
        font-size: 100px;
        color: white;
    }
    
    .one-column {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    
    .one-column h1 {
        font-size: 65px;
        padding: 40px 350px 40px 350px
    }
    
    .one-column p {
        padding: 5px 150px 10px 150px
    }
    
    h4 {
        text-align: center;
        font-size: 65px;
        margin-top: 0px;
        padding: 20px 0px 0px 0px;
    }
    
    .one-columnS2 {
        width: 100%;
        text-align: center;
    }
    
    .one-columnS2 h1 {
        padding-top: 50px;
    }
    
    .one-columnS2 h2 {
        text-align: right;
        font-size: 30px;
        padding: 0px 100px 20px 0px;
    }
    
    .one-columnS3 h1 {
        font-size: 65px;
        padding: 40px 0px 0px 40px;
    }
    
    .one-columnS4 h1 {
        font-size: 65px;
        text-align: center;
        padding: 60px 0px 0px 40px;
    }
    
    .one-columnS4pad img {}
    
    .one-columnS4img img {
        padding: 0px 0px 0px 400px;
    }
    
    .two-columnS5 {
        width: 50%;
        font-size: 40px;
        float: left;
        padding: 20px 0px 20px 20px;
    }
    
    .two-columnS5 h1 {
        font-size: 65px;
        padding: 40px 0px 0px 40px;
    }
    
    .two-columnS5 h2 {
        font-size: 20px;
        padding: 0px 0px 0px 40px;
    }
    
    .two-column {
        width: 50%;
        float: left;
    }
    
    .two-columnform {
        width: 50%;
        float: left;
    }
    
    .two-column tabla {
        width: 50%;
    }
    
    .two-columnfoot {
        float: left;
        width: 50%;
        padding: 2%;
        font-size: 5vw;
    }
    
    .four-column {
        float: left;
        width: 25%;
        padding: 2%;
    }
    
    .four-column p {
        text-align: center;
    }
    
    .minimizar:not {
        size: 50%;
    }
    
    #footer {
        background-color: black;
        color: white;
    }
    
    #footer p {
        font-size: 20px;
        text-align: left;
    }
    /* TABLA */
    
    .tabla {
        padding-left: 40px;
        padding-bottom: 40px;
    }
    
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    #customers tr:hover {
        background-color: #ddd;
    }
    
    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(0, 203, 218);
        color: black;
        font-size: 20PX;
    }
    /* TABLA */
    
    #section-2 {
        background-color: rgb(0, 203, 218);
    }
    
    #section-4 {
        background-color: rgb(0, 203, 218);
    }
    
    .example::-webkit-scrollbar {
        display: none;
    }
    
     ::-webkit-scrollbar {
        display: none;
    }
    
    .example {
        -ms-overflow-style: none;
        /* IE and Edge /
        scrollbar-width: none;
        / Firefox */
    }
    
    @media screen and (max-device-width:900px) {
        /* Responsive layout */
        li {
            width: 25%;
            float: none;
            display: inline-block;
        }
        li a {
            font-size: 17px;
            display: inline-block;
        }
        ul {
            padding: 0px;
            overflow: auto;
            white-space: nowrap;
        }
        .header {
            background-attachment: fixed;
            padding: 10% 20px;
            text-align: center;
        }
        .one-column h1 {
            font-size: 65px;
            padding: 50px 2% 2% 2%
        }
        .one-column p {
            width: 100%;
            padding: 2% 2% 2% 2%
        }
        .two-column {
            width: 100%;
            float: left;
        }
        .one-column iframe {
            height: 296px;
            width: 100%;
            padding: 10px 20px 10px 20px;
        }
        .one-columnS2 h2 {
            text-align: right;
            font-size: 25px;
            padding: 0px 20px 20px 0px;
        }
        .two-column tabla {
            width: 100%;
        }
        .tabla {
            padding: 10px 10px 10px 10px;
        }
        .two-columnform iframe {
            width: 200%;
            height: 400px;
        }
        .one-columnS4 img {
            width: 100%;
            padding: 10px 20px 20px 20px;
        }
        .one-columnS4 h1 {
            font-size: 65px;
            float: left;
            padding: 40px 60px 0px 20px;
        }
        .one-columnS4pad img {
            width: 50%;
        }
        .two-columnS5 h1 {
            font-size: 65px;
            padding: 20px 50px 0px 0px;
        }
        .two-columnS5 h2 {
            float: left;
            font-size: 15px;
            padding: 0px 20px 0px 0px;
        }
        .two-columnS5 iframe {
            padding: 10px 10px 10px 0px;
        }
        .two-columnS5 {
            width: 100%;
            font-size: 40px;
            float: left;
            padding: 10px 0px 20px 30px;
        }
        .two-columnform {
            width: 50%;
            float: left;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }